<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Système de Gestion des Groupes</title>
</head>
<body>
  <header>
    <h1>Système de Gestion des Groupes</h1>
  </header>

  <main>
    <!-- Affichage du  contenu généré par JavaScript qui a eter ajouté ici -->
    <div id="adminGroups">
      <h2>Groupes d'administration</h2>
      <ul id="groupList"></ul>
    </div>

    
  </main>

  <script src="/script.js"></script> 
</body>
</html>
